@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS code */
*,
*::before,
*::after {
  box-sizing: border-box; 
}

html,
body {
  font-family: 'Inter', 'Pretendard Variable', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-weight: 700;
  max-width: 100vw; 
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

input {
  background-color: transparent; 
  outline: none;
  appearance: none;
}

ul,
ol,
li {
  list-style: none;
}
